<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-title>Receitas</ion-title>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="funnel-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div class="periodo">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="recuperarMesAnterior()">
          <ion-icon name="chevron-back-outline" class="ion-text-right"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">{{nomeMes}}</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="recuperarMesPosterior(1)">
          <ion-icon name="chevron-forward-outline" class="ion-text-left"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="totalizador">

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-icon name="bag-outline"></ion-icon>
          <ion-label>
            Total Pendente
            <p>R$ {{totalTransacaoPaga}}</p>
          </ion-label>
        </ion-col>

        <ion-col>
          <ion-icon name="wallet-outline"></ion-icon>
          <ion-label>
            Total Recebido
            <p>R$ {{totalTransacaoPendente}}</p>
          </ion-label>
        </ion-col>

        <ion-item-divider style="margin-top: -12px;"></ion-item-divider>

      </ion-row>
    </ion-grid>

  </div>

</ion-header>

<ion-content>

  <div class="sem-transacao-container" *ngIf="isSemTransacao">
    <div class="imagem">
      <img src="../../../assets/imagem/sem-cartao-credito.png"/>
    </div>
  
    <div class="sem-transacao">
      <ion-text>
        Ops! Você não possuí transações registradas.
        <p>Para criar um novo item, clique no botão (+)</p>
      </ion-text>
    </div>
  </div>

  <div class="transacao-container">

    <!-- <h6><b>{{item.dataPagamento}}</b></h6> -->

    <ion-grid>
      <ion-row *ngFor="let item of receitaList">
        <ion-col size="1">
          <ion-avatar>
            <ion-icon name="card-outline"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="8">
          <ion-label id="favorecido">
            <b>{{item.pessoaOrigemPagamento}}</b>
            <p>{{item.categoriaTransacao}} | {{item.contaBancariaDestino}}</p>
          </ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-label id="valorTransacao">
            <ion-label>
              <b>R$ {{item.valorPagamento}}</b>
              <p>
                <ion-avatar [ngClass]="isVerificarPagamentoPendenteTexto(item.dataPagamento)">
                  <ion-icon [name]="isVerificarPagamentoPendenteIcone(item.dataPagamento)"></ion-icon>
                </ion-avatar>
              </p>
            </ion-label>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>

<ion-footer></ion-footer>
