ion-header {
    ion-toolbar {
        --background: #4cb050;
        color: #FFFFFF;
        ion-buttons {
            ion-title {
                font-size: 16px;
                font-weight: bold;
            }
        }
    }
    .periodo {
        background: #4cb050;
        color: #FFFFFF;
        height: 80px;
        ion-toolbar {
            ion-buttons {
                ion-icon {
                    margin-left: 20px;
                    margin-right: 20px;
                }
            }
            ion-title {
                font-size: 16px;
                font-weight: 600;
            }
        }
    }
    .totalizador {
        ion-grid {
            background: #FFFFFF;
            ion-row {
                ion-col {
                    display: flex;
                    .imagem {
                        display: flex;
                        align-self: center;
                        font-size: 22px;
                        color: #646464;
                    }
                    .valoresTotalizador {
                        margin-left: 20px;
                        ion-label {
                            font-weight: bold;
                            color: #646464;
                            font-size: 12px;
                            p {
                                margin-top: 6px;
                                color: #4cb050;
                            }
                        }
                    }
                }
            }
        }
    }
    .divider {
        hr {
            background: #ececec;
            width: 96%;
            border-radius: 10px;
        }
    }
}

ion-content {
    .sem-transacao-container {
        .imagem {
            text-align: center;
            img {
                width: 180px;
                height: 180px;
            }
        }
        .sem-transacao {
            width: 70%;
            text-align: center;
            margin: 0 auto;
            ion-text {
                font-weight: bold;
                margin-bottom: 10px;
                margin-bottom: 10px;
                p {
                    font-weight: 400;
                }
            }
        }
    }
    .transacao-container {
        padding: 8px;
        margin-bottom: 20px;
        ion-row {
            display: flex;
            align-items: center;
            ion-col {
                ion-avatar {
                    background: var(--ion-color-success-shade);
                    width: 32px;
                    height: 32px;
                    padding: 8px;
                    ion-icon {
                        color: #FFFFFF;
                    }
                }
                #favorecido {
                    font-size: 13px;
                    margin-left: 10px;
                    p {
                        font-size: 10px;
                        margin-left: 10px;
                    }
                }
                #valorTransacao {
                    font-size: 11px;
                    display: flex;
                    justify-content: flex-end;
                    ion-label {
                        b {
                            color: #4cb050;
                        }
                        p {
                            display: flex;
                            justify-content: flex-end;
                            ion-avatar {
                                width: 16px;
                                height: 16px;
                                padding: 1px;
                                ion-icon {
                                    font-size: 10px;
                                    border: transparent 2px dashed;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .isTransacaoPendente {
        background: var(--ion-color-danger) !important;
    }
    .isTransacaoPaga {
        background: var(--ion-color-success) !important;
    }
    .isTransacaoPendenteTexto {
        color: var(--ion-color-danger) !important;
    }
    .isTransacaoPagaTexto {
        color: var(--ion-color-success) !important;
    }
}