@font-face {
    font-family: MavenPro-Regular;
    src: url(../assets/font/Maven_Pro/MavenPro-Regular.ttf);
}

@font-face {
    font-family: MavenPro-Medium;
    src: url(../assets/font/Maven_Pro/MavenPro-Medium.ttf);
}