<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-text>Agosto</ion-text>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="totalizador">
    <ion-label>Saldo em Contas</ion-label>
    <ion-text><b>R$ 20.000,00</b></ion-text>
    <ion-icon name="eye-outline"></ion-icon>
  </div>

  <div class="receita-despesa">

    <ion-grid>
      <ion-row>
        <ion-col (click)="redirecionarTelaReceita()">
          <ion-icon name="arrow-up-outline" style="background: #4cb050;"></ion-icon>
          <ion-label>
            Receitas 
            <p style="color: #4cb050;">R$ 10.000,00</p>
          </ion-label>
        </ion-col>
        <ion-col (click)="redirecionarTelaDespesa()">
          <ion-icon name="arrow-down-outline" style="background: #f6403a;"></ion-icon>
          <ion-label>
            Despesas 
            <p style="color: #f6403a;">R$ 10.000,00</p>
          </ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>

  </div>

</ion-content>
