ion-header {
    ion-toolbar {
        ion-title {
            display: flex;
            ion-text {
                font-size: 16px;
            }
            ion-icon {
                font-size: 12px;
                margin-left: 10px;
            }
        }
    }
}

ion-content {
    --background: #ecf3fb;
    .totalizador {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        ion-label {
            color: #686868;
            margin-top: 10px;
            font-size: 14px;
            font-weight: bold;
        }
        ion-text {
            font-size: 26px;
            margin-top: 10px;
            b {
                color: #222222;
            }
        }
        ion-icon {
            margin-top: 10px;
            font-size: 24px;
            color: #747474;
        }
    }
    .receita-despesa { 
        height: 80px;
        background: white;
        border-radius: 0px 0px 30px 30px;
        box-shadow: 1px 2px 2px #dee2e7;
        ion-grid {
            ion-row {
                ion-col {
                    display: flex;
                    align-items: center;
                    ion-icon:nth-child(1) {
                        background: transparent;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        color: white;
                        padding: 6px;
                        margin-right: 10px;
                        font-size: 600px;
                    }
                    ion-label {
                        color: #646464;
                        font-weight: 500;
                        font-size: 12px;
                        p {
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}