<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">

    <ion-buttons slot="start">
      <ion-button>
        <ion-icon name="person-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-text>Agosto</ion-text>
      <ion-icon name="chevron-down-outline"></ion-icon>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="totalizador">
    <ion-label>Saldo em Contas</ion-label>
    <ion-text><b>R$ 30.525,10</b></ion-text>
    <ion-icon name="eye-outline"></ion-icon>
  </div>

  <div class="receita-despesa">

    <ion-list lines="none">
      <ion-row>
        <ion-col>
          <ion-avatar>
            <ion-icon name="arrow-up-outline"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-avatar>
            <ion-icon name="arrow-down-outline"></ion-icon>
          </ion-avatar>
        </ion-col>
      </ion-row>
    </ion-list>

  </div>

</ion-content>
